.alt-background {
    background-color: var(--lightOrange);
}

.emphasize {
    color: var(--orange);
}

.casepage header {
    background-color: var(--orange);
}

.sol-outer-flex span {
    color: var(--black);
}

.figma-button {
    background-color: var(--orange);
}

.figma-button:hover {
    color: var(--orange);
    border: 2px solid var(--orange);
}

.quote-style {
    color:var(--orange);
}
.quote-style cite {
    color: var(--orange);
}

#buttonUp:hover {
    background-color: var(--orange);
}

.cursor-circle {
    border: 2px solid var(--orange);
}

ol > li > ul {
    margin-left: 20px;
}

footer {
    background-color: var(--orange);
}

.conclusion span {
    color: var(--orange);
}

.final a {
    color: var(--orange);
}

nav a:hover {
  color: var(--orange);
}

.cards-item:hover, .cards-item:focus {
  background: var(--darkRed);
  border-color: var(--darkRed);
}

.cards-item {
    border-top: 15px solid var(--darkRed);
}

/* 2nd CARD COLORS + HOVER*/
.cards-item:nth-of-type(2) {
    border-top: 15px solid var(--darkGreen);
}

.cards-item:nth-of-type(2):hover,
.cards-item:nth-of-type(2):focus {
    background: var(--darkGreen);
    border-color: var(--darkGreen);
}
